<div class="animated fadeInUp">
    <div class="slider">
        <ul class="slides">
            <li><img src="static/img/640x425.png" alt="">
                <div class="caption slider-content center-align">
                    <h2>WELCOME TO WEBAPP</h2>
                    <h4>Lorem ipsum dolor sit amet.</h4><a href="#!/index" class="btn button-default">LEARN MORE</a></div>
            </li>
            <li><img src="static/img/640x425.png" alt="">
                <div class="caption slider-content center-align">
                    <h2>CLEAN & MODERN</h2>
                    <h4>Lorem ipsum dolor sit amet.</h4><a href="#!/index" class="btn button-default">LEARN MORE</a></div>
            </li>
            <li><img src="static/img/640x425.png" alt="">
                <div class="caption slider-content center-align">
                    <h2>CREATIVE DESIGN</h2>
                    <h4>Lorem ipsum dolor sit amet.</h4><a href="#!/index" class="btn button-default">LEARN MORE</a></div>
            </li>
        </ul>
    </div>
    <div class="section-who-we-are">
        <div class="container">
            <div class="section-head">
                <h4>WE ARE CREATIVE</h4><i class="fa fa-star"></i></div>
            <div class="who-we-are center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsa, sint neque</p>
                <div class="img-sc"><img src="static/img/mobile.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="section bg-second">
        <div class="container">
            <div class="section-head">
                <h4>SERVICE</h4><i class="fa fa-star"></i></div>
            <div class="row">
                <div class="col s6">
                    <div class="service">
                        <div class="icon"><i class="fa fa-laptop"></i></div>
                        <h5>Design</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="service">
                        <div class="icon"><i class="fa fa-code"></i></div>
                        <h5>Developer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
            </div>
            <div class="row r-margin">
                <div class="col s6">
                    <div class="service">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h5>Marketing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="service">
                        <div class="icon"><i class="fa fa-cogs"></i></div>
                        <h5>Consulting</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section quote">
        <div class="container">
            <h5>We are design agency, We designed with modern design and clean design</h5><a href="#!/index" class="btn button-default">Read More</a></div>
    </div>




    <div class="slider">
    <ul class="slides">
      <li>
        <img src="static/img/640x425.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>"elit dolor sit amet, consectetur adipisicing"</h3>
          <h6 class="light grey-text text-lighten-3 italic">- John Doe</h6>
        </div>
      </li>
      <li>
        <img src="static/img/640x425.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>"elit dolor sit amet, consectetur adipisicing"</h3>
          <h6 class="light grey-text text-lighten-3">- John Doe</h6>
        </div>
      </li>
      <li>
        <img src="static/img/640x425.png"> <!-- random image -->
        <div class="caption right-align">
          <h3>"elit dolor sit amet, consectetur adipisicing"</h3>
          <h6 class="light grey-text text-lighten-3">- John Doe</h6>
        </div>
      </li>
      <li>
        <img src="static/img/640x425.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>"elit dolor sit amet, consectetur adipisicing"</h3>
          <h6 class="light grey-text text-lighten-3">- John Doe</h6>
        </div>
      </li>
    </ul>
  </div>








    <div class="section">
        <div class="container">
            <div class="section-head">
                <h4>CONTACT US</h4><i class="fa fa-star"></i></div>
            <div class="contact-us contact-home">
                <div class="row">
                    <div class="col s12">
                        <form action="send-mail.htm" class="contact-form" id="contact-form" method="post">
                            <div class="form-group" id="name-field">
                                <input type="text" class="validate" id="form-name" name="form-name" placeholder="NAME" required>
                            </div>
                            <div class="form-group" id="email-field">
                                <input type="email" class="validate" id="form-email" name="form-email" placeholder="EMAIL" required>
                            </div>
                            <div class="form-group" id="subject-field">
                                <input type="text" class="validate" id="form-subject" name="form-subject" placeholder="SUBJECT" required>
                            </div>
                            <div class="form-group" id="message-field">
                                <textarea name="form-message" id="form-message" cols="30" rows="10" class="materialize-textarea" placeholder="YOUR MESSAGE" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn button-default" type="submit" id="submit" name="submit">SEND MESSAGE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
$('.slider').slider();
 });
</script>
</div>
