<div class="animated fadeInUp">
	<div class="pages section">
		<div class="container">
			<div class="pages-head">
				<h3>TEAM</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="team">
						<img class="materialboxed" data-caption="Add text here" width="650" src="static/img/256x256.png" alt="">
						<div class="team-details">
							<h5>John Doe</h5>
							<span>Web Designer</span>
							<ul>
								<li><a href="#!/team"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col s6">
					<div class="team">
						<img class="materialboxed" data-caption="Add text here" width="650" src="static/img/256x256.png" alt="">
						<div class="team-details">
							<h5>John Doe</h5>
							<span>Web Designer</span>
							<ul>
								<li><a href="#!/team"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="team">
						<img class="materialboxed" data-caption="Add text here" width="650" src="static/img/256x256.png" alt="">
						<div class="team-details">
							<h5>John Doe</h5>
							<span>Web Designer</span>
							<ul>
								<li><a href="#!/team"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col s6">
					<div class="team">
						<img class="materialboxed" data-caption="Add text here" width="650" src="static/img/256x256.png" alt="">
						<div class="team-details">
							<h5>John Doe</h5>
							<span>Web Designer</span>
							<ul>
								<li><a href="#!/team"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#!/team"><i class="fa fa-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>$(document).ready(function(){
		$('.materialboxed').materialbox();
	});</script>
</div>
